a {
    border: solid 1px black;
    padding:20px;
    background-color:gray;
    

}


a:hover {
    background-color:red;
}

#form-input {

}


#form-input:focus {
    background-color:teal;
}


#form-input{
    border:2px solid pink;
}